<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BVA KP Test Suite" parallel="methods" thread-count="5">

    <test name="Functional Tests">
        <classes>
            <class name="com.bvakp.automation.tests.GirisTest"/>
        </classes>
    </test>

</suite>